*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }


.interface{
    background-color: #2691f5;
}
.logotipo{
    background-color: rgb(0, 0, 0);
    padding: 30px;
    display: flex;
    align-items: center;
    
}
.botton-header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.botton-header ul li a{
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    display: block;
    transition: .5s ;
}
.botton-header ul li a:hover{
    background-color: white;
    color: red;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.041);
    border-radius: 15PX;
}
.drop-hover{
    position: relative;
    
}
.drop-hover .drop{
    position: absolute;
    background-color: #b3b3b3;
    height: 0;
    overflow: hidden;
    width: 100%;
    
    
}
.drop-hover .drop a{
    padding: 20px;
}
.drop-hover:hover .drop{
    height: 336px;
    text-decoration: none;
}
.top-header .social button{
    font-size: 45px;
    width: 100px;
    border: none;
    display: flex;
    background: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    
}

.social{
    justify-content: space-between;
    bottom: 90%;
    left: 80%;
    position: absolute;
    display: flex;
}

.geral{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:lightgrey;
    width: 80%;
    border-radius: 25px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    padding: 200px;
    font-size: larger;
}
.sobre2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 21%;
    top: 36%;
}


.texto{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    margin-left: 20px;
}


.texto2{
    background-color: lightgray;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.game{
    text-decoration: underline;
}
.lista{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.numeros{
    position: absolute;
    left: 61%;
    top: 137%;
}
.linha{
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.lista2{
    padding: 160px;
    background-color: lightgray;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.r{
    font-size: 7px;
    left: 12.1%;
    position: absolute;
}
.titu{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100px;
    font-size: 40px;
    color: rgb(255, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tudo{
    color: #ff0000;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 16%;
    cursor: pointer;
}
.link2{
    position: absolute;
    top: 47%;
    left: 42.7%;
}
.link3{
    position: absolute;
    left: 70%;
    top: 47%;
}
.lupa {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: absolute;
    height: 100px;
    top: 2%;
    left: 35%;
    background-color: transparent;
}
.search-container {
    display: flex;
    align-items: center; 
    border-radius: 2px;
    padding: 7px;
    background-color: #fff;
}

.search-container input {
    border: none;
    outline: none;
    padding: 0px;
    font-size: 20px;
    width: 500px;
}

.search-container button {
   font-size: 20px;
    color: #700606;
    border: none;
    padding: 2px 15px;
    cursor: pointer;
    background-color: transparent;
    margin-left: 10px;
}


